/** @format */
.d {
	display: flex;

	width: 100px;
}
label {
	font-size: 1.1rem;
	padding-right: 10px;
}
.input-container {
	width: 100px;

	input {
		width: 150px;
		margin: 0px;
		background-color: whitesmoke;

		font-size: 1.2rem;
		padding: 5px;
		height: 25px;
	}
}
.pick {
	background-color: skyblue;
}
.li {
	list-style: none;
	padding-left: 5px;
}
.search-box {
	box-sizing: border-box;
	margin-top: 0px;
	bottom: 50px;
	background-color: whitesmoke;
	position: absolute;
	&.active {
		border: 1px black solid;
	}
}
