/** @format */
.mess {
	text-transform: capitalize;
	font-size: 1.1rem;
	color: rgb(230, 175, 175);
}
.message {
	text-transform: capitalize;
	font-size: 1.1rem;
	color: whitesmoke;
}
.co {
	margin-left: 10px;
	color: rgb(230, 175, 175);
	&:hover {
		cursor: pointer;
		color: red;
	}
}
