/** @format */

.inActive {
	padding-left: 65px;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
}
.cell {
	span {
		font-size: 1.2rem;
		margin: 0 30px 0 0;
	}
	input {
		font-size: 1.2rem;
	}
}
.action {
	cursor: pointer;
}

.data-row {
	margin-top: 2px;
	border: rgb(94, 91, 91) solid 1px;
}

.data-row:nth-child(odd) {
	font-size: 1.2rem;
	background-color: #0be6c0;
	input {
		font-size: 1.2rem;

		background-color: #0be6c0;
	}
}
.bo {
	width: 100%;

	display: flex;
	justify-content: space-evenly;
	align-content: space-between;
}
