/** @format */
.sale-panel {
	justify-content: space-evenly;
	width: 100%;
	display: flex;
	align-items: center;
	button {
		color: whitesmoke;
		font-size: 1.1rem;
		height: 40px;
		width: 100px;
		background-color: #355218;
	}
	p {
		font-size: 1.1rem;
	}
}
